@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

body {
  height: 100%;
  background-image: linear-gradient(
      to bottom right,
      rgba(15, 42, 133, 0.8),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  width: 50%;
  margin: 5em auto;
  max-height: 80%;
}

@media only screen and (max-width: 1024px) {
  main {
    width: 70%;
  }
}
@media only screen and (max-width: 900px) {
  main {
    width: 90%;
  }
}

#logo {
  width: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
}

h1,
p {
  text-align: center;
  color: #e3b64f;
  font-weight: 700;
  text-transform: capitalize;
  margin: 20px 0;
}

h1 {
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 0.2rem;
  color: #0f2a85;
  text-transform: uppercase;
  margin-bottom: -10px;
}

form {
  background-image: linear-gradient(
    to top left,
    rgba(15, 42, 133, 0.8),
    rgba(0, 0, 0, 0.7)
  );
  color: rgb(227, 182, 79);
  padding: 30px;
  box-shadow: 1px 10px 14px rgba(0, 0, 0, 0.8);
}

input,
textarea,
.choice-label {
  display: block;
  margin: 10px 0;
  padding: 5px;
}

fieldset {
  border: none;
  padding: 30px 0;
}

fieldset:not(:last-of-type) {
  padding-bottom: 0;
}
#email,
#name,
#number,
textarea,
select {
  width: 100%;
  border: 2px solid #c9cee1;
  border-radius: 5px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}

.choice-color {
  color: #c9cee1;
}

input[type="submit"] {
  width: 60%;
  color: #0f2a85;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  margin: 20px auto;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(227, 182, 79);
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 700px) {
  * {
    font-size: 18px;
  }

  #logo {
    width: 60px;
    top: 10px;
    left: 10px;
  }

  h1 {
    font-size: 25px;
    letter-spacing: 0.1rem;
  }
  p {
    font-weight: 500;
  }
  input,
  select,
  textarea,
  select {
    font-size: 16px;
  }
}
